* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Karla", sans-serif;
  --navbar-color: #FFFFFF;
  --navbar-bg: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

html, body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header--container {
  width: 550px;
  height: 65px;
  display: flex;
  align-items: center;
  background: var(--navbar-bg);
  color: var(--navbar-color);
  padding: 1.25em 1.8em;
  margin: 0 auto;
}

.header--img {
  width: 31px;
  height: 26px;
  margin-right: 0.4em;
}

.header--title {
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
}

.header--project {
  font-size: 12px;
  font-weight: 500;
}
