* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Permanent Marker', cursive;
    padding: 2em 3em;
    background-color: rgb(229, 231, 235);
    height: 100vh;
    width: 100vw;
}

.title {
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 40px;
}

.toast {
    display: flex;
    column-gap: 12px;
    font-family: 'Inter', sans-serif;
    width: 384px;
    height: 78px;
    padding: 1em;
    border-radius: 8px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toast-header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.toast-header h1,
p {
    font-size: 14px;
}

.toast .icon svg {
    height: 18px;
    width: 18px;
}

.toast-success,
.btn-success {
    background: #ECFDF5;
}

.toast-success h1 {
    color: #065F46;
}

.toast-success p {
    color: #047857;
}

.toast-warning,
.btn-warning {
    background: #FFFBEB;
}

.toast-warning h1,
.toast-error h1 {
    color: #92400E;
}

.toast-warning p,
.toast-error p {
    color: #B45309;
}

.toast-error,
.btn-error {
    background: #FEF2F2;
}

.toast-information,
.btn-information {
    background: #EFF6FF;
}

.toast-information h1 {
    color: #1E40AF;
}

.toast-information p {
    color: #1C51B9;
}

.toast-success .icon svg {
    fill: #34D399;
    stroke: #34D399;
    stroke-width: 2px;
}

.toast-warning .icon svg {
    stroke: #FBBF24;
    stroke-width: 2px;
}

.toast-error .icon svg {
    fill: #F87171;
    stroke-width: 2px;
    stroke: #F87171;
}

.toast-information .icon svg {
    stroke: #60A5FA;
    stroke-width: 2px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
}

.btn {
    height: 80px;
    width: 300px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
