* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Permanent Marker', cursive;
    padding: 2em 3em;
    background-color: rgb(229, 231, 235);
    height: 100vh;
    width: 100vw;
}

.title {
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 40px;
}

.dialogue-box {
    display: flex;
    column-gap: 12px;
    position: relative;
    padding: 1em;
    border-radius: 8px;
    width: 384px;
    height: 98px;
    box-shadow: 0px 4px 6px -2px #0000000D;
}

.dialogue-box::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 20%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f0f0f0;
}

.tooltip-header h1, p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.tooltip-header h1 {
    font-weight: 700;
    margin-bottom: 4px;
}

.tooltip-header p {
    font-weight: 400;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.default {
    background: #FFFFFF;
}

.default h1 {
    color: #111827;
}

.default p {
    color: #6B7280;
}

.default .icon svg {
    stroke: #6B7280;
}

.ocean {
    background: #E0E7FF;
}

.ocean h1 {
    color: #1E40AF;
}

.ocean p {
    color: #1C51B9;
}

.ocean .icon svg {
    stroke: #1C51B9;
}

.peach {
    background: #FFF3FC;
}

.peach h1 {
    color: #A9229B;
}

.peach p {
    color: #C7369E;
}

.peach .icon svg {
    stroke: #C7369E;
}

.avacado {
    background: #E7FFF3;
}

.avacado h1 {
    color: #137A2A;
}

.avacado p {
    color: #3C8C4E;
}

.avacado .icon svg {
    stroke: #41A557;
}

.tooltip-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (prefers-color-scheme: dark) {
    .default {
        background: #262626;
    }

    .default h1 {
        color: #FFFFFF;
    }

    .default p {
        color: #C7C7C7;
    }

    .default .icon svg {
        stroke: #C7C7C7;
    }

    .ocean {
        background: #1E40AF;
    }

    .ocean h1 {
        color: #FFFFFF;
    }

    .ocean p {
        color: #E8EDFF;
    }

    .ocean .icon svg {
        stroke: #7EA6F2;
    }

    .peach {
        background: #A9229B;
    }

    .peach h1 {
        color: #FFFFFF;
    }

    .peach p {
        color: #FFE9FD;
    }

    .peach .icon svg {
        stroke: #F462E6;
    }

    .avacado {
        background: #47AA5D;
    }

    .avacado h1 {
        color: #FFFFFF;
    }

    .avacado p {
        color: #E3FFE9;
    }

    .avacado .icon svg {
        stroke: #C1FFCF;
    }
}
